#st1, #st2, #st3 {
    float: left;
    margin: 5px;
    padding: 5px;
}

#block_text {
    float: left;
    margin-left: 15px;
}

#middle_area {
    float: left;
    line-height: 50px;
    margin-left: 10px;
    min-height: 400px;
    vertical-align: middle;
}

#columnchart_values {
    float: left;
    margin-left: 5px;
    vertical-align: bottom;
}

#Info {
    float: left;
    margin-left: 5px;
}
