{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cezar crypto</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static "main.js" %}"></script>

        <details>
            <summary><b>Веб приложение позволяющее, шифровать и расшифровывать тексты на английском языке используя шифр
                Цезаря.</b></summary>
            <pre>
           В окошко "Original text" вводится текст для дешифрации/шифрации/анализа.
           В окошко "Result text" выводиться результат дешифрации/шифрации.
           При каждом изменении текста в окне "Original text", выводится результат его частотного анализа
           и предположение о его зашифрованности.
           Кнопка "Ecrypt" шифрует текст на число сдвигов в поле ввода "ROT"
           Кнопка "Decrypt" анализирует текст в окне "Original text" и дешифрует его, выводя данные анализа, либо копирует
           без изменений, если сочтет его не зашифрованным.
           Предположение о зашифрованности текста исходит из числа символов "e" и "t" в тексте, и дает достоверный
           результат при длине текста от 100 символов.
            </pre>
        </details>
</head>
