{% include 'header.html' %}
<body>
 <hr>
 <div id="block_text">
    <div id="block_text">
        <b>Original text</b>
        <button onclick="clearInputText()">Clear</button>
        <button onclick="sampleText()">Sample Text </button>
        <br>
        <textarea id="InputText" title="InputText" oninput="makeFreqAnalis()" name="Input text" cols="50" rows="20"></textarea>
    </div>
    <div id="middle_area">
        <b>ROT</b>
        <input type="text" id="RotValue" title="RotateValue" size="4" value="15">
        <br>
        <button onclick="encrypt()">Encrypt</button>
        <br>
        <button onclick="decrypt()">Decrypt</button>
        <br>
        <button onclick="copyResToOrig()"><- Copy</button>
    </div>
    <div id="block_text">
        <b>Result text</b>
        <button onclick="clearResultText()">Clear</button>
        <br>
        <textarea id="ResultText" title="Result" cols="50" rows="20" readonly></textarea>
    </div>
    <br>
    <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
     <br>
     <label id="LabelInfo" style="float:left;"> </label>
 </div>
</body>

{% include 'footer.html' %}